.vscode
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/.env
CLAUDE.md
.claude/settings.local.json
.idea/dataSources/f770aca0-75c2-45ea-93b3-9d4bc43e037d.xml
.idea/dataSources/f770aca0-75c2-45ea-93b3-9d4bc43e037d/storage_v2/_src_/database/app.IXoBAA.meta
.idea/dataSources/f770aca0-75c2-45ea-93b3-9d4bc43e037d/storage_v2/_src_/database/postgres.edMnLQ.meta
.idea/dataSources/f770aca0-75c2-45ea-93b3-9d4bc43e037d/storage_v2/_src_/database/app.IXoBAA/schema/information_schema.FNRwLQ.meta
.idea/dataSources/f770aca0-75c2-45ea-93b3-9d4bc43e037d/storage_v2/_src_/database/app.IXoBAA/schema/pg_catalog.0S1ZNQ.meta
.idea/dataSources/f770aca0-75c2-45ea-93b3-9d4bc43e037d/storage_v2/_src_/database/app.IXoBAA/schema/public.abK9xQ.meta
.idea/dataSources/f770aca0-75c2-45ea-93b3-9d4bc43e037d/storage_v2/_src_/database/app.IXoBAA/schema/public.abK9xQ.zip
.idea/dataSources/f770aca0-75c2-45ea-93b3-9d4bc43e037d/storage_v2/_src_/database/postgres.edMnLQ/schema/information_schema.FNRwLQ.meta
.idea/dataSources/f770aca0-75c2-45ea-93b3-9d4bc43e037d/storage_v2/_src_/database/postgres.edMnLQ/schema/pg_catalog.0S1ZNQ.meta
.idea/dataSources/f770aca0-75c2-45ea-93b3-9d4bc43e037d/storage_v2/_src_/database/postgres.edMnLQ/schema/public.abK9xQ.meta

CLAUDE.md
.claude/settings.local.json
